* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
}

#output {
  display: flex;
  justify-items: right;
  width: 10em;
  height: 2em;
  margin: 1em;
  padding: 0.5em;
  background-color: black;
  border: 2px solid white;
  font-size: 36px;
  border-radius: 10px;
  color: red;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

input[type="button"] {
  box-sizing: content-box;
  width: 60px;
  height: 60px;
  /* TODO: fix the borderwidth */
  background-color: rgb(22, 22, 141);
  border: 8 solid #33ff00;
  border-radius: 10px;

  font-size: 30px;
  line-height: 30px;
  color: white;
}

input[type="button"]:hover {
  background-color: #880000;
}
